{% extends "plantilla.html" %}

{% block titulo %}
Bienvenidos a la Universidad del Saber - UColtis
{% endblock %}

{% block contenido %}
<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Accusantium ea repellendus odit obcaecati omnis corporis. Exercitationem, sapiente facilis adipisci consequatur tenetur a tempore maxime quo corporis esse eligendi nemo neque.</p>
<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Eveniet, at. Laudantium, officia fugiat numquam amet vero dicta velit facere praesentium tempore. Omnis illum eius quos assumenda dignissimos error dolorem magni.</p>
<p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Cupiditate voluptatum velit impedit sint ea veritatis quisquam, quia nisi modi dolor voluptatem laboriosam ex perspiciatis temporibus facilis neque ipsum, sed amet.</p>
{% endblock %}