{% extends "plantilla.html" %}

{% block titulo %}
<br>
Bienvenidos a la Universidad de la vida
{% endblock %}

{% block contenido %}
<br>
<p>
    En esta pagina se ilustra como se gestiona las matrículas para una universidad x de parte de un administrador usando la tecnología de flask. Permite elegir materia, borrar materia, editar materia y leer materias matriculadas.</p>

    <br>

<p>Se conecta con la base de datos relacional sql. Sus tablas son estudiantes, materias y matricula, que se crea como una tabla adicional para romper la relación de muchos a muchos y poder gestionar de forma eficiente la matricula sin ambigüedades. </p>


{% endblock %}